* {
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1200px;
    height: 1000px;
    background: #D8D8D8;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header{
    height: 15%;
    background: #A4A4A4;
    border-radius: 1em;
    margin: 1em;
}

#nav{
    height: 10%;
    background: #c1a6a6;
    border-radius: 1em;
    margin: 1em;
}

#contenido{
    height: 40%;
    background: #ffffff;
    margin: 1em;
}

#footer{
    height: 15%;
    background: #c1a6a6;
    border-radius: 1em;
    margin: 1em;
}

#section{
    height: 90%;
    width: 70%;
    background: #A4A4A4;
    border-radius: 1em;
    float: left;
    margin: 0.5em;
}

#aside{
    height: 90%;
    width: 25%;
    background: #A4A4A4;
    border-radius: 1em;
    float: right;
    margin: 0.5em;
}

.articulo{
    width: 85%;
    height: 20%;
    background: #c1a6a6;
    margin: 0.5em;
    border-radius: 1em;
}